body {
    background-color: aliceblue;
    overflow: hidden;
    cursor: none;
    /* touch-action: none; */
}

img {
    max-width: 100%;
}

.cursor {
    position: absolute;
    width: 70px;
    height: 70px;
    transition: all ease;
}

#name-wrapper {
    position: absolute;
}