#main {
    background-color: bisque;
}

#grid-wrapper {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    text-align: center;
    background-color: green;
}

.cell {
    width: 30px;
    height: 30px;
    /* margin: 1px; */
    /* border:1px solid black; */
}

.red-cell {
    background-color: red;
}

.blue-cell {
    background-color: blue;
}

.red-cell:hover {
    background-color: darkred;
}

.blue-cell:hover {
    background-color: darkblue;
}