:root {
    --color-black: #03071E;
    --color-darkdarkdarkred: #370617;
    --color-darkdarkred: #6A040F;
    --color-darkred: #9D0208;
    --color-red: #D00000;
    --color-darkorange: #DC2F02;
    --color-orange: #E85D04;
    --color-lightorange: #F48C06;
    --color-orangeyellow: #FAA307;
    --color-yellow: #FFBA08;
    --color-white: #f8f8ff;

    --color-background: var(--color-black);
    --color-text: var(--color-white);
    --color-accent: var(--color-red);
}

* {
    font-family: 'Courier New Bold';
    font-size: 1.5rem;
    color: var(--color-text);
}

html, body {
    margin: 0;
    height: 100vh;
    background-color: var(--color-background);
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#grid-wrapper {
    height: auto;
    width: a;
    display: flex;
    justify-content: center;
}

#grid {
    border: 1px black solid;
    /* cursor: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/313/paintbrush_1f58c-fe0f.png') 0 100, auto; */
    cursor: url(images/mybrush.png) 0 32, auto;
}

#grid-canvas {
    background-color: white;
    touch-action: none;
    /* border: 1px black solid; */
    /* cursor: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/313/paintbrush_1f58c-fe0f.png') 0 100, auto; */
    /* cursor: url(images/mybrush.png) 0 32, auto; */
}

.row {
    display: flex;
    text-align: center;
    background-color: var(--color-white);
}

.cell {
    width: 10px;
    height: 10px;
    /* margin: 1px; */
    /* border:1px solid black; */
}

#settings-wrapper {
    max-width: 90%;
    padding: 10px;
}

#slider-wrapper {
    padding: 10px;
}

img {
    max-width: 100%;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    pointer-events: none;
    transition: all ease;
}

/* .red-cell {
    background-color: red;
}

.blue-cell {
    background-color: blue;
}

.red-cell:hover {
    background-color: darkred;
}

.blue-cell:hover {
    background-color: darkblue;
} */

#name {
    max-width: 90%;
}