body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendDialog {
    position: absolute;
    background-color: darkgreen;
    padding: 20px;
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    top: 20px;
    visibility: visible;
    transition: .2s ease;
}

#sendDialog p {
    margin: 0;
}

#inputContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messageLine {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInput {
    display: flex;
    height: 100%;
    width: calc(100% - 75px);
    /* flex-grow: 1; */
    box-sizing: border-box;
}

#messageColor {
    display: flex;
    height: 100%;
    width: 75px;
    /* flex-shrink: 0; */
}

#sendButton {
    width: 100%;
}

.flip {
    animation-name: flip;
    animation-duration: 1s;
    /* animation-iteration-count: 1; */
    animation-fill-mode: forwards;
}

.flipback {
    animation-name: flipback;
    animation-duration: 1s;
    /* animation-iteration-count: 1; */
    animation-fill-mode: forwards;
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes flipback {
    from {
        transform: rotate(1620deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}