#top {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputContainer {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messageLine {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInput {
    display: flex;
    height: 100%;
    width: calc(100% - 75px);
    /* flex-grow: 1; */
    box-sizing: border-box;
}

#messageColor {
    display: flex;
    height: 100%;
    width: 75px;
    /* flex-shrink: 0; */
}

#sendButton {
    width: 100%;
}