#top {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputContainer {
    margin: 20%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#messageInput {
    height: 75px;
    width: 69%;
}

#messageColor {
    width: 15%;
    height: 103px;
    /* border: none; */
}

#sendButton {
    width: 93%;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: aquamarine;
    }
    #messageInput {
        height: 75px;
        width: 45%;
    }

    #messageColor {
        width: 15%;
        height: 103px;
        /* border: none; */
    }
}